<nav>
    <div class="linkDiv">
        <a class="link navLink" href="/">GetShitDone</a>
    </div>
    <div class="linkDiv">

        <% if (email) { %>
        <p class="link navLink"><%- email %></p> <!-- email display -->
        <% } %>

        <a class="link navLink" href="/user/">Todo-List</a>

        <% if (email) { %>
        <a class="link navLink" href="/logout">Logg ut</a> <!-- logout -->
        <% } else { %>
        <a class="link navLink" href="/login">Logg inn</a> <!-- login -->
        <% } %>

    </div>
</nav>