<%- include("./partials/head.ejs") %>
    <!-- scripts -->
    <script src="js/signup.js" defer></script>

    <title>Registrer | Fiks Ferdig</title>
</head>
<body>
    <main>
        <%- include("./partials/nav.ejs") %>
        <section id="formMain">
            <form novalidate>
                <h1 class="formTitle">Ny bruker</h1>

                <label class="formLabel" for="email">Epost</label>
                <input class="inputField" type="email" name="email" id="email" placeholder="Epost">
                <div class="emailErr errDiv"></div>

                <label class="formLabel" for="password">Passord</label>
                <input class="inputField" type="password" name="password" id="password" placeholder="Passord">
                <div class="passwordErr errDiv"></div>

                <label class="formLabel" for="retry">Gjenta Passord</label>
                <input class="inputField" type="password" name="retry" id="retry" placeholder="Gjenta Passord">
                <div class="retryErr errDiv"></div>

                <button class="formButton">Lag bruker</button>
            </form>
            <a class="link" href="/login">Logg inn</a>
        </section>

    </main>    
</body>
</html>