/* fonts */

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato-Bold";
    src: url(../fonts/Lato-Bold.ttf);
}

/* general & navbar styles*/

body {
    margin: 100px 0 0 0;
    font-family: Lato;
}
.navbar {
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 20px 30px;

    background-color: black;
}

.linkDiv {
    display: flex;
}

.link {
    color: black;
    font-family: Lato;
    text-decoration: none;
}

.navLink {
    display: flex;
    align-items: center;
    margin: 0 30px;
    font-size: 1rem;
    color: rgb(228, 228, 228);
}

.dropdownMenu {
    display: none;
    flex-direction: column;
    align-items: top;
    justify-content: space-evenly;

    position: fixed;
    top: 59.2px;
    right: 0;
    left: auto;

    width: fit-content;
    height: 150px;

    background-color: black;
}

.visible {
    display: flex !important;
}

.dropdownButtonDiv {
    display: none;
}

.dropdownButton:hover {
    cursor: pointer;
}

/* general text fonts */

h1,
p {
    font-family: Lato;
}

h1,
h2 {
    font-size: 2.3rem;
    margin: 20px;
}

h2 {
    font-family: Lato-Bold;
}

p {
    font-size: 1.2rem;
}

/* welcome page */

#welcomeMain {
    margin: 32vh 0 0 0;
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}

/* home page*/

#homeMain {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.homeTitle {
    font-size: 1.7rem;
}

.listContainer {
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
}

.listTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
}

.listEntry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    margin: 13px 0;
    width: 60vw;
    border-radius: 4px;
    border: solid black;
    background-color: black;
}

.entryText {
    font-size: 1rem;
    color: white;
    margin: 0;
}

.deleteIcon:hover {
    cursor: pointer;
}

#newEntryMessage {
    display: block;
    align-self: center;
    padding: 14px 40px;
    margin: 25px 0;
    width: 63vw;
    border-radius: 4px;
    border: solid black;
    color: white;
    background-color: black;
    font-family: Lato;
}

.finishedTodo {
    text-decoration: line-through white;
    color: lightslategray;
}

/* login & signup pages */

#formMain {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 200px;
    margin: 0 0 0 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.formTitle {
    font-size: 1.5rem;
    margin: 10px 0;
}

label {
    /* this is for form accessibility */
    position: absolute;
    left: -99999px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.inputField {
    border-radius: 4px;
    border: solid;

    padding: 5px;
    margin: 10px 0;
    width: 100%;
}

form button {
    width: 100px;
    padding: 7px;
    margin: 10px 0;
    background-color: white;
    border-radius: 4px;
    border: solid;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.errDiv {
    text-decoration: underline solid red 2px;
}

form button:hover {
    background-color: rgb(139, 139, 139);
    transition-duration: 0.1s;
    transform: scale(1.1);
}

form button:active {
    background-color: rgb(92, 92, 92);
    transition-duration: 0.1s;
    transform: scale(1);
}

/* veileder */

#veilederBrukere, #veilederSikkerhet {
    margin: 50px;
}

.veilederImage {
    border: solid 2px black;
}

.jwtImage {
    width: 35vw;
    height: auto;
}

.veilederTittel {
    margin: 20px 0;
}

.veilederText {
    width: 56vw;
}

/* media queries */

@media screen and (max-width: 825px) {
    .veilederContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .veilederImage {
        width: 70vw !important;
    }
    .navLink {
        font-size: 0.9rem;
        margin: 0 20px;
    }
    .dropdownMenu {
        top: 57.6px;
    }
}
@media screen and (max-width: 680px) {
    .veilederImage {
        width: 90vw !important;
    }
    .veilederTittel {
        font-size: 1.7rem !important;
    }
    .navLink {
        font-size: 0.8rem;
        margin: 0 15px;
    }
    .dropdownMenu {
        top: 55.2px;
    }
}

@media screen and (max-width: 570px) {
    .linkDivResponsive {
        display: none !important;
    }
    .dropdownButtonDiv {
        display: flex !important;
        align-items: center;
    }
    .navLink {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .veilederText {
        width: 90vw !important;
        overflow-wrap: break-word;
    }
}